body{
    background-color: rgb(46, 173, 78);
    color: rgb(12, 11, 11);
    font-family: Quicksand;
}
section{
background-color: rgba(120, 228, 126, 0.918);
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
}
.chamada-texto{
    margin-right: 40px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
    color: black;
}
img{
    height: 200px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgb(39, 146, 25);
}
.chamada-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}