body{
    background-color: rgba(95, 216, 150, 0.925);
    color: rgb(6, 134, 70);
}
section{
background-color: rgba(127, 255, 212, 0.699);
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
   margin-right: 40px; 
}
img{
    height: 200px;
}
.chamada-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}